strict-peer-dependencies = false
auto-install-peers=false

@duxton-web:registry=https://gitlab.myteksi.net/api/v4/packages/npm/
//gitlab.myteksi.net/api/v4/projects/:_authToken=${GITLAB_NPM_TOKEN}
//gitlab.myteksi.net/api/v4/packages/npm/:_authToken=${GITLAB_NPM_TOKEN}