body {
  margin: 0;
}

.gallery {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  flex: none;
  border-bottom: solid 1px #eee;
}

.body {
  flex: auto;
  min-height: 0;
  height: 0;
  overflow-y: scroll;
  background: var(--adm-color-background);
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #999;
  }
  &.demoBody {
    overflow-y: hidden;
  }
}

.guide {
  font-size: 15px;
  padding: 12px;
  border-bottom: solid 1px #eee;
}

.logo {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.demoSwitcher {
  font-size: 15px;
}

.langToggle {
  font-size: 15px;
  cursor: pointer;
}

.search {
  padding: 12px;
}
